*  {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    background-image: url('images/bg-hero-desktop.svg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 2rem 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

nav button {
    cursor: pointer;
    padding: 0.8rem;
    background-color: white;
    border-radius: 20px;
    border: none;
    width: 170px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    margin: 3rem 0;
}

.inner-content {
    margin: 6rem 0;
    color: hsl(192, 100%, 9%);
    margin-right: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inner-content * {
    margin: 1rem 0;
}

.inner-content h1 {
    width: 80%;
}

.btn-general {
    cursor: pointer;
    padding: 0.9rem;
    border-radius: 20px;
    width: 240px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

section {
    margin: 6rem 0;
}

.cta {
    margin: 4rem 10rem;
    border-radius: 5px;
    /* border: 1px solid red; */
    padding: 2rem;
    padding-left: 4rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.cta * {
    margin: 0 1rem;
}

.cta div {
    width: 80%;
}

.cta div *{
    margin: 1rem 0;
}

.cta:nth-child(2) {
    grid-template-columns: 0.8fr 1fr;
    column-gap: 6rem;
}

.cta h1 {
    color: hsl(192, 100%, 9%);
}

.cta p {
    color: hsl(208, 11%, 55%);
}

.aside-class {
    position: relative;
    bottom: 50px;
}

aside {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    left: 30%;
}

aside * {
    margin: 0.5rem 0;
}

footer {
    background-color: hsl(192, 100%, 9%);
    padding: 8rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    align-items: center;
    color: white;
}

footer div * {
    margin: 0.3rem 0;
}

#copyright p{
    position: relative;
    top: 150px;
}

i {
    border: 1px solid white;
    padding: 7px;
    border-radius: 100px;
}

button {
    outline: none;
}

.my-footer {
    padding: 1rem;
    background-color: indigo;
    color: white;
}


@media screen and (max-width: 768px) {
    aside {
        width: 40vw;
        left: 30%;
        margin: 1rem 0;
        padding: 1rem;
    }

    aside #responsive {
        width: 100%;
    }

    header {
        height: 105vh;
        background-image: url('images/bg-hero-mobile.svg');
        background-position: center;
        background-size: cover;
        width: 100vw;
        padding: 1rem;
    }

    section {
        margin: 4rem 0;
    }

    .header-content {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .inner-content h1{
        width: 100%;
    }

    .cta {
        grid-template-columns: 1fr;
        row-gap: 4rem;
        margin: 1rem 2rem;
        padding: 1rem;
        justify-items: center;
    }

    .cta:nth-child(2) {
        grid-template-columns: 1fr;
        column-gap: 6rem;
    }

    img {
        max-width: 70%;
    }

    footer {
        grid-template-columns: 1fr;
        padding-left: 1rem;
    }

    i {
        margin-left: 40%;
    }

    #copyright p {
        top: 10px;
        left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .cta {
        margin: 1rem 2rem;
        row-gap: 0;
        padding: 2rem;
        justify-items: center;

    }

    aside {
        padding: 1rem;
        width: 70vw;
        left: 15%;
    }

    aside #responsive {
        width: 70%;
    }
}

@media screen and (max-width: 376px) {
    nav{
        padding: 1rem;
    }

    nav img {
        width: 100px;
    }

    header {
        height: 110vh;
    }

    nav button {
        width: 100px;
    }

    .cta {
        justify-items: center;
        text-align: center;
    }

    .header-content {
        margin: 0;
    }

    aside {
        padding: 1rem;
        width: 70vw;
        left: 15%;
    }

    aside #responsive {
        width: 70%;
    }

    #copyright {
        text-align: center;
    }

    footer {
        padding-top: 9rem;
    }


}

@media screen and (max-width: 321px) {
    header {
        height: 130vh;
    }
}